* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.sudoku,
.products,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sand {
  color: #026670;
  text-shadow: 0 6px 20px rgb(1, 1, 2);
}

.sudoku {
  background-image: url('background-images/IMG_4.jpeg'); 
  background-color: #9FEDD7;
  background-position: fixed;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.sudoku > h1 {
  padding: 1rem;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 6px 20px rgb(1, 1, 2);
}

.arrow {
  text-align: center;
  font-size: 20px;
}

.sudoku > p {
  font-size: 20px;
  padding: 3rem;
}

.sudoku__container {
  width: 80%;
  margin: auto;
  box-shadow: 0 10px 40px rgba(2, 5, 9, 0.961);
}

.sudoku__wrapper {
  width: 100%;
  background-color: #edeae582;
}

.sudoku__container__1 {
  width: 90%;
  margin: auto;
  font-size: 20px;
  padding-bottom: 1rem;
  padding-top: 3rem;
}


.contact {
  background-image: url('background-images/IMG_4.jpeg'); 
  background-color: #FEF9C7;
  background-position: fixed;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20rem;
  font-size: 2rem;
}

.contact__container {
  width: 100%;
  margin: auto;
  box-shadow: 0 10px 40px rgba(2, 5, 9, 0.961);
  padding: 5rem;
}

.contact__wrapper {
  width: 80%;
  /* background-color: #fff; */
  background-color: #edeae5af;
  /* box-shadow: 0 10px 40px rgba(2, 5, 9, 0.961); */
}

.contact > h1 {
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 6px 20px rgb(1, 1, 2);
}